#root {
    width: 100%;
}

.header {
    height: 100px;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    background-color: #686868;
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0 38px 0 0 ;
}

.header__logo-link {
    font-size: 48.6px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

.header__navigation-list {
    list-style: none;
    display: flex;
    column-gap: 30px;
}

.header__navigation-item {
    transition: color .15s ease-in-out;
}

.header__navigation-item:hover {
    color: #8a8989;
}

.header__navigation-link {
    color: #ffffff;
}

.header__navigation {

}

.header__search {
    margin: 0 0 0 31px;
    display: flex;
}

.search__input {
    height: 52px;
    width: 224px;
    font-size: 30px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.search__button {
    width: 50px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 0 8px 8px 0;
}

.search__button:active img {
    transform: scale(0.9);
}

.header__cart {
    height: 52px;
    width: 52px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    margin: 0 0 0 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__cart:active img {
    transform: scale(0.9);
}

.header__call {
    height: 52px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 8px;
    margin: 0 0 0 13px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.header__call span{
    font-size: 16px;
    font-weight: 600;
}

.header__call:active span{
    transform: scale(0.95);
}