.header {
    padding: 25px 0 0 0;
    display: flex;
    align-items: center;

    &__logo {
        margin: 0 31px 0 0;

        &-link {
            display: inline-block;
        }
    }

    &__navigation {

        &-list {
        list-style: none;
        display: flex;
        column-gap: 36px;
        }

        &-link {

            & span{                
                color: #000000;
                font-family: 'Roboto', 'sans-serif';
                font-size: 16px;
                font-weight: 300;
            }

            &:hover  {

                & span {
                    color: #D95E57;
                    text-decoration: underline;
                }
            }
        }
    }

    &__cart {
    height: 44px;
    width: 44px;
    background-color: #D95E57;
    border: none;
    margin: 0 0 0 27px;
    display: flex;
    align-items: center;
    justify-content: center;

        &:active {
            img {
                transform: scale(1.15);
            }
        }
    }

    &__call {
    height: 44px;
    max-width: 137px;
    background-color: #334074;
    border: none;
    margin: 0 0 0 auto;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

        & span {
            font-family: 'Roboto', 'sans-serif';
            font-size: 16px;
            font-weight: 500;
            color: #FFFFFF;
        }

        &:active {
            transform: scale(1.05);
        }
    } 
}

.search {
    margin: 0 0 0 44px;
    display: flex;

    &__input {
        height: 46px;
        width: 224px;
        font-size: 16px;
        border-top: 2px solid #334074;
        border-left: 2px solid #334074;
        border-bottom: 2px solid #334074;
        border-right: none;
        background-color: #d9d9d900;
        padding: 0 10px;
        display: flex;
        align-items: center;

        &::placeholder {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 300;
            padding: 0 0 0 7px;
        }
    }

    &__button {
        width: 50px;        
        background-color: #d9d9d900;
        border-top: 2px solid #334074;
        border-right: 2px solid #334074;
        border-bottom: 2px solid #334074;
        border-left: none;
    }

    &__button:active {
        img {
            transform: scale(1.2);
        }
    }
}