body {}

button {
    cursor: pointer;
}

.services {}

/* Servises Top */

.services__list_top {
    margin: 19px 0 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 33px;
}

.services__list_top-item {
    height: 49px;
    width: 172px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #858585;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__list_top-item:active span{
    transform: scale(0.9);
}

/* Services Middle */

.services__list_middle {
    margin: 57px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 42px;
}

.services__list_middle-item {
    height: 207px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Передача стилей разных классов (из-за разных картинок и прайсов)*/
.services__list_middle-item:hover .services__list_middle-title-1,
.services__list_middle-item:hover .services__list_middle-title-2,
.services__list_middle-item:hover .services__list_middle-title-3,
.services__list_middle-item:hover .services__list_middle-title-4,
.services__list_middle-item:hover .services__list_middle-title-5,
.services__list_middle-item:hover .services__list_middle-title-6{
    transform: scale(1.1);
}

.services__list_middle-item:last-child > div > .services__list_middle-name{
    width: 160px;
    white-space: pre-wrap;
}

.services__list_middle-item div {
    height: 122px;
    border: 3px #334074 solid;
    border-radius: 10px;
    position: relative;
    text-align: center;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform .2s ease-in-out;
}

.services__list_middle-name {
    font-size: 18px;
    font-weight: 600;
    color: #334074;
}


/* Иллюстрации услуг - стили */
.services__list_middle-item div:before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: -33px;
    left: 30px;
    height: 66px;
    width: 100px;
    transition: background-image .2s ease-in-out;
}


/* Иллюстрации услуг - картинки */
.services__list_middle-title-1:before {
    background-image: url('../../img/santech/Смеситель off.png');
    background-size: 61px 65px;
}

.services__list_middle-title-2:before {
    background-image: url('../../img/santech/Счетчик off.png');
    background-size: 65px 44px;
}

.services__list_middle-title-3:before {
    background-image: url('../../img/clean/Уборка off.png');
    background-size: 51px 65px;
}

.services__list_middle-title-4:before {
    background-image: url('../../img/obsh/Шестеренки off.png');
    background-size: 65px 65px;
}

.services__list_middle-title-5:before {
    background-image: url('../../img/windows/Магнитный ключ off.png');
    background-size: 65px 38px;
}

.services__list_middle-title-6:before {
    background-image: url('../../img/obsh/Малярные работы off.png');
    background-size: 65px 61px;
}


/* Изменения иллюстраций при наведении на услугу */
.services__list_middle-item:hover .services__list_middle-title-1:before {
    background-image: url('../../img/santech/Смеситель on.png');
}

.services__list_middle-item:hover .services__list_middle-title-2:before {
    background-image: url('../../img/santech/Счетчик on.png');
}

.services__list_middle-item:hover .services__list_middle-title-3:before {
    background-image: url('../../img/clean/Уборка on.png');
}

.services__list_middle-item:hover .services__list_middle-title-4:before {
    background-image: url('../../img/obsh/Шестеренки on.png');
}

.services__list_middle-item:hover .services__list_middle-title-5:before {
    background-image: url('../../img/windows/Магнитный ключ on.png');
}

.services__list_middle-item:hover .services__list_middle-title-6:before {
    background-image: url('../../img/obsh/Малярные работы on.png');
}

.services__list_middle-price {
    height: 28px;
    width: 100px;
    font-size: 30px;
    font-weight: 600;
    color: #D95E57;
    background-color: #ffffff;
    text-align: center;
    display: block;
    position: absolute;
    bottom: -14px;
    left: 30px;
}

.services__list_middle-button {
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #D95E57;
    border: none;
    border-radius: 10px;
}

.services__list_middle-button span {
    display: block;
}

.services__list_middle-button:active span{
    transform: scale(0.9);
}