.services_middle {
  font-family: Roboto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .item {
    height: 122px;
    width: 159px;
    border: 3px #D7CED1 solid;
    border-radius: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .2s ease-in-out, border .2s ease-in-out;

    .image {
      height: 54px;
      width: 54px;
      background-color: #fff;
      overflow: hidden;
      position: absolute;
      top: -27px;

      & img {
        position: relative;
      }
    }

    .text {
      font-size: 18px;
      font-weight: 500;
      color: #334074;
    }

    .price {
      height: 56px;
      width: 96px;
      font-weight: 700;
      color: #FFFFFF;
      background-color: #D95E57;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: -25px;
    }

    &:hover {
      transform: scale(1.15);
      border-color: #334074;

      & .image img{
        top: -54px;
      }
    }
  }
}